$background-color: #222629;
$subbackground-color: #6b6e70; /*must be lighter than background*/
$sidebar-color: #474b4f;
$interact-color: #29ebc4b4;
$text-base-color: #9fc669;
$text-hint-color: #e2e5e8;
$title-base-color: #61892f;
$subtitle-base-color: #FCF6F5FF;

/*Modernity in Full Bloom*/