$background-color: #0b0c10;
$subbackground-color: #1f2833; /*must be lighter than background*/
$sidebar-color: #1f2833;
$interact-color: #66fcf1;
$text-base-color: #FCF6F5FF;
$text-hint-color: rgb(183, 173, 171);
$title-base-color: #45a29e;
$subtitle-base-color: #FCF6F5FF;

/*Modernity in Full Bloom*/