@import "../../assets/constants/colors.scss";

.nav-bar{
    display: flex;
    background: $sidebar-color;
    height: 100vh;
    flex-direction: column;
    position: relative;

    .logo {
        display: block;
        padding: 8px 0;

        img {
            display: block;
            margin: 8px auto;
            width: 24px;
            height: auto
        }

        &.sub-logo {
            width: 200px
        }
    }

    nav {
        display: block;
        text-align: center;
        width: 100%;
    
        a {
            font-size: 22px;
            color: #4d4d4e;
            display: block;
            height: 51px;
            text-align: center;
            text-decoration: none;
    
            i {
                transition: all 0.3s ease-out;
            }

            svg {
              color: $text-hint-color;
            }
        
            &:hover {
                color: $interact-color;
        
                svg {
                  opacity: 0;
                }
        
                &:after {
                  opacity: 1;
                }
              }
              
            &:after {
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                display: block;
                width: 100%;
                text-align: center;
                position: relative;
                bottom: 20px;
                opacity: 0;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }
    
            &:first-child {
                &:after {
                  content: 'HOME';
                }
            }
        }
    
        a.about-link {
          text-align: center;
            &:after {
              content: 'ABOUT';
            }
        }

        a.contact-link {
            &:after {
              content: 'CONTACT';
            }
          }
    
        a.portfolio-link {
            &:after {
              content: 'PORTFOLIO';
            }
        }
      
        a.active {
            svg {
              color: $interact-color;
            }
        }
    }

    ul {
        list-style-type: none;
        display: block;
        margin-left: -30%;
        align-items: center;
        position: absolute; /* This sets the positioning type for the ul element */
        bottom: 0; 
    
        li {
          .anchor-icon {
            color: $text-hint-color;
          }
            a {
                padding: 7px 0;
                display: block;
                font-size: 15px;
                line-height: 16px;
            }
    
            &:hover {
                .anchor-icon {
                color: $interact-color;
                }
            }
        }
    }
}

